// Heading Color
$heading-color: #ffa58f;

// Text Color
$text-color: #ffa58f;

// Default Background
$bg-default: #ffa58f;

// Gray Background
$bg-gray: #ffa58f;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #ffa58f;

// Border Color
$border-color: #ffa58f;

// Hover Color
$hover-color: #ffa58f;

// Footer Color
$footer-color: #ffa58f;

// Secondary Color
$secondary-color: #ffa58f;